/* =========================================================
   VARIABLES Y CONFIGURACIÓN GLOBAL
========================================================= */

:root {
  font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --primaryColor: #E94232;
  --secondaryColor: #FCEEC9;
  --tertiaryColor: #232327;
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(16, 16, 16);
  --radio: 8px;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =========================================================
   TIPOGRAFÍA Y LINKS
========================================================= */

a {
  font-weight: 500;
  color: var(--tertiaryColor);
  text-decoration: inherit;
  font-weight: bold;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: var(--text-primary);
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

/* =========================================================
   BODY Y LAYOUT PRINCIPAL
========================================================= */

body {
  margin: 0;
  padding: 20px;
  background-color: var(--secondaryColor);
  background-image: url('../public/frankys.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 100% auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* =========================================================
   HEADER Y NAVEGACIÓN
========================================================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: var(--secondaryColor);
}

.header-logo {
  margin-left: 0px;
  font-weight: bold;
  color: #e74c3c;
  width: 200px;
}

.header-nav {
  justify-content: right;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.header-nav a.active {
  color: #e74c3c;
  font-weight: bold;
}

/* =========================================================
   INPUTS, TEXTAREAS Y SELECTS
========================================================= */

input,
textarea,
select {
  margin-top: 0.5rem;
  padding: 12px 16px;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

input:focus {
  border-color: var(--tertiaryColor);
  box-shadow: 0 0 6px rgba(26, 26, 26, 0.4);
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color);
}

select {
  margin-left: 10px;
  padding: 8px 20px;
}

/* =========================================================
   BOTONES
========================================================= */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn {
  margin-block: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
}

.btnPrimary {
  background-color: var(--tertiaryColor);
}

.btnPrimary:hover {
  background-color: var(--blackColor);
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}

/* =========================================================
  LOGIN Y REGISTRO
========================================================= */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loginContainer {
  background: var(--primaryColor);
  width: 300px;
  padding: 15px;
  border-radius: var(--radio);
  box-shadow: var(--shadow);
  text-align: center;
  animation: crecer 0.5s ease-out;
}

@keyframes crecer {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cardImage img {
  width: 500px;
  height: 100%;
  margin-right: 5rem;
  object-fit: cover;
}

/* =========================================================
   ADMIN HOME
========================================================= */

.admin-layout {
  display: flex;
  height: calc(100hv - 60px);
}

.admin-layout main {
  display: block;
  unicode-bidi: isolate;
}

.user-name {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #333;
}

#logoutBtn {
  padding: 8px 16px;
  font-size: 0.9em;
  border-radius: 5px;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

main {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 60px 7.5%;
}

/* =========================================================
   SIDEBAR
========================================================= */

.sidebar {
  width: 250px;
  background: var(--whiteColor);
  border-right: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  max-height: 100%;
  margin-left: 20px;
}

.sidebar-section h3 {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 5px;
}

.sidebar-section p {
  font-size: 0.9em;
  color: #777;
  margin: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: #333;
  border-left: 4px solid transparent;
  transition: all 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background: #f5f5f5;
  border-left-color: #e74c3c;
  color: #e74c3c;
  font-weight: bold;
}

.sidebar nav ul li a span {
  margin-right: 10px;
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.sidebar-footer a {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar-footer a span {
  margin-right: 10px;
}

/* =========================================================
   MAIN CONTENT
========================================================= */

.main-content {
  flex: 1;
  padding: 30px 30px 20px 30px;
  overflow-y: auto;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.main-content h2 {
  padding-bottom: 0rem;
  color: #333;
  font-size: 1.8em;
}

.main-content h3 {
  margin-bottom: 20px;
  color: var(--whiteColor);
  font-size: 1.8em;
}

/* =========================================================
   TARJETAS DE ESTADÍSTICAS (DASHBOARD)
========================================================= */

.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  padding: 20px;
  border-radius: 12px;
  color: var(--whiteColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
  background: linear-gradient(135deg, var(--primaryColor));
}

.stat-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, var(--primaryColor), #ff8b1e)
}

.stat-card .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.stat-card .card-header span {
  font-size: 1.5em;
  margin-right: 10px;
}

.stat-card .card-header h3 {
  margin: 0;
  font-size: 1.2em;
}

.stat-card .card-value {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 0;
}

.stat-card .card-subtext {
  font-size: 0.9em;
  opacity: 0.8;
  margin: 5px 0 15px 0;
}

.stat-card button {
  align-self: start;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.stat-card button:hover {
  background: var(--blackColor);
}

/* =========================================================
   RESUMEN (DASHBOARD)
========================================================= */

.quick-summary {
  background: var(--whiteColor);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}

.quick-summary h3 {
  margin: 0 0 10px 0;
  color: #e74c3c;
  display: flex;
  align-items: center;
}

.quick-summary h3 span {
  margin-right: 10px;
  font-size: 1.2em;
}

.quick-summary p {
  color: #777;
  font-style: italic;
}

/* =========================================================
   AGREGAR CATEGORÍA Y PRODUCTO DISEÑO
========================================================= */

.modal-overlay {
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 100;
}

.modal-content {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/public/fondoForm.png);
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 100px 7.5%;
}

#orderDetailContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#orderDetailContent h2,
#orderDetailContent .status-detail,
.order-item,
.item-details    {
  width: 100%!important;
}

#orderDetailContent h3 {
  margin-bottom: 15px;
}

#orderDetailContent div {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: calc((100% - 60px) / 3);
}

.order-summary, .order-info, .order-items, .admin-actions label, .status-message{
  color: var(--tertiaryColor);
}

.admin-actions{
  color: var(--whiteColor);
  justify-content: center;
}

.admin-actions select{
  margin: 1rem;
}

.status-message {
  text-align: center;
}

.modal-content .close  {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
}

.form-categoria input,
.form-categoria textarea,
.form-producto input,
.form-producto textarea,
.form-cart input,
.form-cart textarea {
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-categoria .form-action .form-producto .form-action .form-cart .form-action {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: var(--whiteColor);
}

.select-categoria,
.select-method {
  margin-bottom: 20px;
}

/* =========================================================
   TABLAS
========================================================= */

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--primaryColor);
  margin-top: 1rem;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th {
  color: var(--whiteColor);
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
  vertical-align: middle;
}

.table td button {
  margin-top: 5px;
}

.table img {
  border-radius: 8px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.table tbody {
  background-color: var(--whiteColor);
  color: var(--blackColor);
  font-weight: 600;
}

.btn-edit {
  background-color: #b4b4b4;
  color: var(--blackColor);
  font-weight: bold;
}

.btn-edit:hover {
  background-color: #9e9e9e;
}

.btn-delete {
  background-color: #c71717;
  font-weight: bold
}

.btn-delete:hover {
  background-color: #ff0000;
}

/* =========================================================
   BARRA DE BÚSQUEDA Y FILTROS
========================================================= */

.toolbar, .filters {
  background-color: var(--primaryColor);
  margin: 5px;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.toolbar input {
  margin-top: 0;
  width: 84%;
  background-color: var(--tertiaryColor);
  color: var(--whiteColor);
}

.toolbar select {
  margin-top: 0rem;
  margin-left: 0px;
  padding: 12px 16px;
  background-color: var(--tertiaryColor);
  color: var(--whiteColor);
}

/* =========================================================
   PRODUCTOS (GRID Y TARJETAS)
========================================================= */

.product-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.product-main p {
  color: var(--tertiaryColor);
  font-weight: bold;
}

#productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

#productGrid p{
  color: var(--tertiaryColor);
  font-weight: bold;
}

.product-card {
  background: var(--whiteColor);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.1s;
}

.product-card:hover {
  transform: scale(1.01);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.description{
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card h3,
.product-card .price, .description {
  color: var(--tertiaryColor);
}

.product-card .price {
  font-weight: bold;
  margin: 10px 0;
}

.product-card button {
  margin-top: 10px;
}


/* =========================================================
   BADGES
========================================================= */

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
}

.badge.available {
  background-color: var(--primaryColor);
}

.badge.unavailable {
  background-color: var(--tertiaryColor);
}

.badge.unavailable, .badge.available{
  color: var(--whiteColor);
}

/*==========================================================
  PRODUCTOS DEL CARRITO
========================================================= */

#cartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 90%;
}

.cart-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  background-color: var(--whiteColor);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
  max-width: 99%;
  min-width: 740px;
}

.cart-item img {
  border-radius: 8px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.item-info {
  flex: 2;
  margin-left: 15px;
}

.item-info h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--tertiaryColor);
}

.item-info p.price {
  color: var(--tertiaryColor);
  font-weight: bold;
  margin-top: 4px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 6px;
}

.qty-btn {
  background-color: var(--primaryColor);
  color: var(--tertiaryColor);
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.qty-value {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
  color: var(--tertiaryColor);
}

.item-total {
  width: 100px;
  text-align: right;
  color: var(--tertiaryColor);
  font-weight: bold;
  margin-right: 30px;
}

.btn-remove {
  background: var(--primaryColor);
  color: var(--tertiaryColor);
  cursor: pointer;
  font-size: 1.1rem;
}


/* RESUMEN DEL PEDIDO */
.cart-summary, .order-card {
  background-color: var(--whiteColor);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--shadow-lg);
  height: fit-content;
  width: calc((100% - 40px) / 2);
}
.cart-summary {
  width: 400px;
  margin-left: 10px;
}

.cart-summary h3 {
  font-size: 1.1rem;
  color: var(--tertiaryColor);
  margin-bottom: 15px;
}

.cart-summary p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  color: var(--tertiaryColor);
}

.cart-summary .total {
  font-weight: bold;
  color: var(--primaryColor);
  font-size: 1.1rem;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.cart-buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-buttons button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.95rem;
}

.cart-main {
  display: flex;
}

#btnCheckout {
  background-color: var(--primaryColor);
  color: var(--tertiaryColor);
}

/* ORDER CARD */
.order-card {
  color: var(--tertiaryColor);
  text-align: center;
  margin-top: 10px;
}

.cancelar-pedido {
  display: inline;
}
.cancelar-pedido h2, .cancelar-pedido p, .modal-actions {
  margin-top: 20px;
}

/* CARRITO VACIO */
.empty-cart, #ordersContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.empty-cart {
  display: inline;
  text-align: center;
}

.empty-cart h2, #ordersContainer h2 {
  font-size: 1.6rem;
  color: var(--tertiaryColor);
  margin-bottom: 10px;
}

.empty-cart p, #ordersContainer p {
  color: var(--tertiaryColor);
  margin-bottom: 15px;
}

/* =========================================================
   DETALLE PEDIDO
========================================================= */

.order-items, .order-info, .order-summary {
  margin-top: 20px;
}

/*PEDIDOS ADMIN*/
#ordersContainer{
  color: var(--tertiaryColor);
  font-weight: bold;
}


/* =========================================================
   CONFIGURACIÓN RESPONSIVA
========================================================= */

@media (max-width: 700px) {
  .cardImage {
    display: none;
  }
}